div.Page {
  margin-bottom: 50px;
}
div.TimeLine {
  text-align: left;
  position: absolute;
  top: 0;
  border: solid 2px #329632;
  color: #329632;
  background: #d6f1d6;
}
table.TimeTable tr.hour:hover {
  background: rgba(200, 150, 50, 0.5);
}
table.TimeTable tr[class$=":00"] {
  font-size: 150%;
  font-weight: 150%;
}
table.TimeTable tr.hour {
  cursor: pointer;
  text-align: right;
  height: 44px;
}
table.TimeTable tr.hour td.hour {
  border: solid 1px #ffffc8;
  color: #ffffc8;
  background: #c89632;
  padding: 2px;
  padding-right: 5px;
  width: 15px;
}
table.TimeTable tr.hour td.schedule {
  position: relative;
  border: solid 1px #c89632;
  width: 200px;
  padding: 0;
}
